.item {
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 40%;

    height: 100%;
}

.item-1 {
    z-index: 5;
    right: 0;
    box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.item-2 {
    z-index: 4;
    left: 40%;
    box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.item-3 {
    z-index: 3;
    left: 20%;
    box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.item-4 {
    z-index: 2;
    left: 0;
}