@font-face {
    font-family: iranyekan;
    src: url('/app/_fonts/Qs_Iranyekan.ttf');
}

.container {
    background: linear-gradient(270deg, var(--color-gray-800) 25%, transparent);
}

.tooltip {
    font-family: iranyekan;
    background: #fff;
    color: #000;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.tooltip-arrow::before {
    background: #fff !important;

}