.list::-webkit-scrollbar {
    width: 0.5rem;
}

.list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
    background: var(--color-gray-500);
    border-radius: 10px;
    border: 8px solid var(--color-gray-500);
}

@supports not selector(::-webkit-scrollbar) {
    .list {
        scrollbar-color: var(--color-gray-500) transparent;
    }
}