@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: rtl;
  box-sizing: border-box;
}

input,
button {
  outline: none;
}

.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none !important;
  -webkit-appearance: none !important;
}

.mini-spinner-loading {
  width: 27px;
  aspect-ratio: 1;
  border-radius: 999px;
  border: 3px solid #fff;
  border-right-color: var(--color-primary-default);
  animation: rotating 1s infinite linear;
}

.header-scrolled-up {
  animation: toUp;
  animation-duration: 1s;
}

.header-scrolled-down {
  animation: toDown;
  animation-duration: 1s;
}

.toast-enter {
  animation: toastEnter;
  animation-duration: 1s;
}

.toast-exit {
  animation: toastExit;
  animation-duration: 1s;
  -webkit-animation: toastExit;
}

@keyframes toastEnter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toastExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes toDown {
  from {
    /* transform: translateY(-80px); */
    top: -80px;
  }

  to {
    /* transform: translateY(0); */
    top: 0;
  }
}

@keyframes toUp {
  from {
    /* transform: translateY(0); */
    top: 0;
  }

  to {
    /* transform: translateY(-80px); */
    top: -80px;
  }
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}


:root {
  --color-primary-default: #1993ff;
  --color-primary-light: #6eb8ff;
  --color-primary-dark: #158bf3;

  --color-gray-100: #f2f2f2;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d1d5db;
  --color-gray-400: #aaaaaa;
  --color-gray-500: #666666;
  --color-gray-600: #4b5563;
  --color-gray-700: #37383e;
  --color-gray-800: #1a1a1a;
  --color-gray-900: #222327;
  --color-gray-950: #121212;

  --color-red-default: #d95c5c;
  --color-red-light: #ff6b6b;
  --color-red-dark: #b04141;

  --color-white: #ffffff;
  --color-black: #000000;
}


@layer components {
  .form {
    @apply flex flex-col gap-6;
  }

  .form-footer {
    @apply text-center text-sm text-stone-900;
  }
}