@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: rtl;
  box-sizing: border-box;
}

input,
button {
  outline: none;
}

.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none !important;
  -webkit-appearance: none !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}



.toast-enter {
  animation: toastEnter;
  animation-duration: 1s;
}

.toast-exit {
  animation: toastExit;
  animation-duration: 1s;
  -webkit-animation: toastExit;
}

.banner-container {
  min-height: 135vw;
}

@layer components {
  .banner-content {
    min-height: 135vw;

    @apply absolute inset-0 z-[5] w-full bg-cover bg-center bg-no-repeat p-0 before:absolute before:bottom-0 before:left-0 before:right-0 before:-z-10 before:h-24 before:bg-gradient-to-t before:from-gray-950 before:to-transparent xsm:pb-10
  }
}

@media (min-width:500px) {
  .banner-container {
    min-height: 77.34375vw;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .banner-content {
    min-height: 77.34375vw;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .banner-content {
    min-height: 65.625vw;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .banner-content {
    min-height: 56.25vw;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .banner-content {
    min-height: 58.59375vw;
  }
}

@media (min-width: 900px) and (max-width: 1049px) {
  .banner-content {
    min-height: 51.5625vw;
  }
}

@media (min-width: 1050px) {
  .banner-content {
    min-height: 44.53125vw;
  }
}

@media (min-width: 600px) {
  .banner-container {
    min-height: 65.625vw;
  }
}

@media (min-width:700px) {
  .banner-container {
    min-height: 56.25vw;
  }
}

@media (min-width:800px) {
  .banner-container {
    min-height: 58.59375vw;
  }
}

@media (min-width:900px) {
  .banner-container {
    min-height: 51.5625vw;
  }
}

@media (min-width:1050px) {
  .banner-container {
    min-height: 44.53125vw;
  }
}

@keyframes toastEnter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toastExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}






:root {
  --color-primary-default: #1993ff;
  --color-primary-light: #6eb8ff;
  --color-primary-dark: #158bf3;

  --color-gray-100: #f2f2f2;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d1d5db;
  --color-gray-400: #aaaaaa;
  --color-gray-500: #666666;
  --color-gray-600: #4b5563;
  --color-gray-700: #37383e;
  --color-gray-800: #1a1a1a;
  --color-gray-900: #222327;
  --color-gray-950: #121212;

  --color-red-default: #d95c5c;
  --color-red-light: #ff6b6b;
  --color-red-dark: #b04141;

  --color-white: #ffffff;
  --color-black: #000000;
}



@layer components {
  .form {
    @apply flex flex-col gap-6;
  }

  .form-footer {
    @apply text-center text-sm text-stone-900;
  }
}